<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_qlab._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Cuety © 2026 ACAH
QLab © 2005-2026 Figure 53, LLC.
All rights reserved.</string>
</dict>
</plist>
